@import '../../SCSSPartials/todoButton';
@import '../../SCSSPartials/animations';

@mixin checkbox($backgorundColour, $border) {
	$size: 11px;
	background-color: $backgorundColour;
	width: $size;
	height: $size;
	border: $border;
	border-radius: 10px;
	margin-right: 8px;
}

.crossedOff {
	text-decoration: line-through;
}

#remove-button {
	@include todo-button(red);
}

#edit-button {
	@include todo-button(lightseagreen);
}

#disabled-edit-button {
	@include todo-button(lightseagreen);
	opacity: 0.4;
}

.text {
	margin-left: 2em;
}

.todo {
	background-color: #191933;
	border-radius: 4px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	padding: 8px;
	color: white;
	font-size: small;
	border: 1px solid black;
}

.deleteAnimation {
	animation: deleteTodo 1.5s 1;
}

.addAnimation {
	animation: addTodo 2s 1;
}

.todo-buttons {
	display: inline;
}

.checkbox {
	@include checkbox(lightgrey, darkgrey);
}

.checkboxTicked {
	@include checkbox(lightgreen, lightgreen);

	//* Tick
	color: white;
	font-size: 6px;
	text-align: center;
	align-items: center;
	line-height: 12px;
}
