@import '../../SCSSPartials/todoButton';
@import '../../SCSSPartials/animations';

#cancel-button {
	@include todo-button(red);
}

#complete-button {
	@include todo-button(green);
}

.edit-todo {
	background-color: #191933;
	border-radius: 4px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	padding: 8px;
	color: white;
	font-size: small;
	animation: borderColourFadeEditing .4s 1;
	border: 1px solid lightseagreen;
}

.edit-todo-input {
	background: transparent;
	color: white;
	outline: none;
	border: none;
	align-items: center;
	margin-top: 14px;
	font-size: small;
}


